section.section.contactSection div.contactSection-inner {
    margin: 0 2.5vw;
}

section.section.contactSection div.contactSection-inner div.contactSection-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
}

@media screen and (max-width: 800px) {
    section.section.contactSection div.contactSection-inner div.contactSection-container {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }
    section.section.contactSection div.contactSection-inner div.contactSection-container a.contact-path {
        flex: 0 0 50% !important;
        max-width: 50% !important;
        width: 100%;
    }
}

section.section.contactSection div.contactSection-inner div.contactSection-container a.contact-path {
    flex: 0 0 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
    transition: background-color 300ms;
    border: 3px solid var(--white-100)
}

section.section.contactSection div.contactSection-inner div.contactSection-container a.contact-path:hover {
    background-color: var(--white-500);
    cursor: pointer;
}

section.section.contactSection div.contactSection-inner div.contactSection-container a.contact-path  img {
    width: 100%;
    max-width: 30%;
    margin-bottom: 20px;
}

section.section.contactSection div.contactSection-inner div.contactSection-container a.contact-path:first-of-type  img {
    margin-bottom: 40px
}

section.section.contactSection div.contactSection-inner div.contactSection-container a.contact-path small {
    font-size: 16px;
    color: var(--black-900);
    font-family: "Robot Condensed", sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
    max-width: 100%;
    word-break: break-all;
}