nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5vw;
}

nav.navbar a.navbar-brand {
    flex: 0 0 30%;
    max-width: 30%;

    display: flex;
    justify-content: start;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 600;

    color: var(--black-900);
    letter-spacing: 0.5px;
    cursor: pointer;
}

@keyframes breathe {
    0%, 100% {
        width: 20px;
        height: 20px;
    }
    50% {
        width: 15px;
        height: 15px;
    }
}

nav.navbar a.navbar-brand span {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 2.5px;

    border-radius: 50%;
    overflow: hidden;
}

nav.navbar a.navbar-brand span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--red);
    border-radius: 50%;
    animation: breathe 1000ms infinite;
}

nav.navbar ul.navbar-links {
    flex: 0 0 45%;
    max-width: 45%;

    display: flex;
    justify-content: space-around;

    position: relative;

    padding: 5px;

    background-color: #fff;
    border-radius: 25px;

    --pos-x: 0px;
    --active: 0;
    --home-active: 0;
}

nav.navbar ul.navbar-links.cta-active::before {
    transition:
            transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
            width 0.5s cubic-bezier(0.22, 1, 0.36, 1),
            height 0.5s cubic-bezier(0.22, 1, 0.36, 1),
            border-radius 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}


nav.navbar ul.navbar-links::before {
    content: "";
    position: absolute;

    top: 50%;
    left: 0;

    width: calc(20px + (calc(33.33% - 10px) - 20px) * var(--active));
    height: calc(20px + (30px - 20px) * var(--active));
    border-radius: calc(50% + (25px - 50%) * var(--active));

    background-color: var(--red);

    transform:
            translateX(calc(
                    calc(var(--home-active) * -60px) +
                    (1 - var(--home-active)) * (var(--pos-x) - 50%)
            ))
            translateY(-50%);

    transition:
            transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
            width 0.5s cubic-bezier(0.22, 1, 0.36, 1),
            height 0.5s cubic-bezier(0.22, 1, 0.36, 1),
            border-radius 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

nav.navbar ul.navbar-links li {
    position: relative;
    width: calc(33.33% - 10px);
    height: 30px;

    border-radius: 25px;

    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav.navbar ul.navbar-links .cta {
    background-color: var(--white-grey);
    z-index: 0;
    transition: background-color 300ms;
}

nav.navbar ul.navbar-links .cta.active {
    background-color: transparent;
}

nav.navbar ul.navbar-links li a {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: var(--black-900);
    z-index: 2;
    text-decoration: none;
}

nav.navbar ul.navbar-links li.active a {
    color: #fff;
}

nav.navbar div.navbar-cta {
    flex: 0 0 25%;
    max-width: 25%;

    display: flex;
    justify-content: center;
}

nav.navbar div.navbar-cta a {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--black-900);
    cursor: pointer;
    text-decoration: none;
}
