:root {
    --black-100: rgba(10, 10, 10, 0.05);
    --black-900: #171717;
    --white-500: #f3f3f3;
    --white-900: #e5e5e5;
    --white-100: rgba(246, 246, 246, 0.22);

    --white-grey: #d9e0ef;

    --red: #ff4848;

    --dark-blue: #0d1b2a;

    --font-family: "Montserrat";
    --font-size: 14px;
}
