/* *** Import (reset, fonts, variables) *** */
@import url("../shared/reset.css");
@import url("../shared/variables.css");

/* *** Basic Components *** */
@import url("./components/title.css");
@import url("./components/button.css");

/* *** Navbar Section *** */
@import url("./components/navbar.css");
/* *** Landing Section *** */
@import url("./components/landing.css");
/* *** About Section *** */
@import url("./components/about.css");
/* *** Work Section *** */
@import url("./components/work.css");
/* *** Services Section *** */
@import url("./components/services.css");
/* *** Contact Section *** */
@import url("./components/contact.css");
/* *** Footer Section *** */
@import url("./components/footer.css");

/* *** Normalize CSS *** */
html {
    scroll-behavior: smooth;
}

.section {
    flex: 0 0 100%;
    max-width: 100%;
    scroll-margin-top: 80px;
}

body {
    background-color: var(--white-grey);
}
